@font-face {
    font-family: "rouna-bold";
    src: url(/css/fonts/rouna-bold-webfont.woff);
}

@font-face {
    font-family: "rouna-regular";
    src: url(/css/fonts/rouna-regular-webfont.woff);
}

h1 {
    font-family: "rouna-bold";
}

.container {
    align-items: center; 
    float: left;
}

.disc {
    height: 60px;
}

.logo {
    height: 60px;
}

.backdrop-box {
    height: 700px;
    background-image: url(../runtime-records-backdrop.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.backdrop {
    width: 1670px;
}

.album {
    float: left;
    height: 320px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.album-title {
    margin-bottom: -10px;
}

.album-genre {
    color: #e84e0f;
    font-family: "rouna-bold";
    margin-bottom: -12px;
}

.album-display {
    float: right;
    height: 320px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.album-display-font-artist {
    font-family: "rouna-bold";
    color: rgb(195, 192, 192);
    font-size: 19px;
}

.album-display-font-title {
    font-family: "rouna-bold";
    font-size: 42px;
    color: #fff;
}

.album-display-description {
    font-family: "rouna-regular";
    font-size: 19px;
    color: #fff;
}

.album-display-genre-description {
    font-family: "rouna-bold";
    font-size: 15px;
    color: #e84e0f;
}

.album-display-read-more {
    border-radius: 10rem;
    background-color: #e84e0f;
    size: 20px;
    color: #fff;
    padding: 10px;
    font-family: "rouna-bold";
    font-size: 16px;
    float: right;
    position: absolute;
    bottom: 0;
    margin: 12px;
    margin-left: 550px;
}

.arrow {
    position: absolute;
    bottom: 0;
    height: 50px;
    margin: 10px;
}

.sub-div {
    position: absolute;
    bottom: 0px;
}

.album:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.album-title {
    font-family: "rouna-bold";
}

.artist {
    font-family: "rouna-regular";
}

.footer-image {
    float: right;
    padding: 20px;
    height: 140px;
    margin: 40px;
}

p.clear {
    clear: left;
  }

.text-span {
    background:#e84e0f;
    color: white;
    font-weight: bold;
    border-radius:50%;
    height: 35px;
    width: 35px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    margin-left: -28px;
    z-index: 99;
    position: relative;
}

.shopping-cart {
    height: 60px;
}

.centered-div {
    width: 60%;
    height: 340px;
    margin: 10px;
    padding: 5px;
    color: white;
    position: relative;
 }

