{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{{ product.title }}<br>
<img class='album' src={{ product.cover}}>
{{ product.description }}<br>
<button class="btn btn-warning">Add to Cart</button>

{% endblock %}