{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}


    <h1>Shopping Cart</h1>
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/runtime-records-v2/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/runtime-records-v2/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
    </ul>
    <button>Place Order</button>

{% endblock %}